<div th:fragment='pagination'>
<!-- 	<ul class='pagination pagination-centered'>
		<li th:class="${page.first} ? 'disabled':''" style="display: inline">
			<span th:if="${page.first}">First</span> <a th:if="${not page.first}"
			th:href="@{${url}(page=0)}">First</a>
		</li>
		<li th:each='i : ${#numbers.sequence(0, page.totalPages-1)}'
			th:class="(${i}==${page.number})? 'active' : ''"
			style="display: inline"><span th:if='${i}==${page.number}'
			th:text='${i+1}'>1</span> <a th:if='${i}!=${page.number}'
			th:href="@{'/user/list'(page=${i})}"> <span th:text='${i+1}'>1</span>
		</a></li>
		<li th:class="${page.last} ? 'disabled':''" style="display: inline">
			<span th:if="${page.last}">Last</span> <a th:if="${not page.last}"
			th:href="@{${url}(page=(${page.totalPages}-1))}">Last</a>
		</li>
	</ul> -->
	<nav aria-label="Page navigation example">
		<ul class="pagination">
			<li th:class="${page.number == 0}?'disabled page-item':'page-item'">
				<a th:if="${page.number != 0}" class="page-link" th:href="@{'/user/list'(page=${0})}">First</a>
				<span th:if="${page.number == 0}">First</span>
			</li>
			<li th:class="${page.number == 0}?'disabled page-item':'page-item'">
				<a th:if="${page.number != 0}" class="page-link" th:href="@{'/user/list'(page=${page.number-1})}">Previous</a>
				<span th:if="${page.number == 0}">Previous</span>
			</li>
			<!-- START - Wrapping Conditions -->
			<li th:if="${page.number < pagesize}" th:each='i : ${#numbers.sequence(0, pagesize)}' th:class="(${i}==${page.number})?'page-item active':'page-item'">
				<a class="page-link" th:href="@{'/user/list'(page=${i})}"> <span th:text='${i+1}'>1</span></a>
			</li>
			<li th:if="${page.number >= pagesize AND page.number <= page.totalPages-pagesize}" th:each='i : ${#numbers.sequence(page.number-pagesize/2, page.number+pagesize/2)}' th:class="(${i}==${page.number})?'page-item active':'page-item'">
				<a class="page-link" th:href="@{'/user/list'(page=${i})}"> <span th:text='${i+1}'>1</span></a>
			</li>
 			<li th:if="${page.number > page.totalPages-pagesize}" th:each='i : ${#numbers.sequence(page.totalPages-(pagesize+1), page.totalPages-1)}' th:class="(${i}==${page.number})?'page-item active':'page-item'">
				<a class="page-link" th:href="@{'/user/list'(page=${i})}"> <span th:text='${i+1}'>1</span></a>
			</li> 
			<!-- END - Wrapper Conditions -->
			<li th:class="${page.number == page.totalPages-1}?'disabled page-item':'page-item'">
				<a  th:if="${page.number != page.totalPages-1}" class="page-link" th:href="@{'/user/list'(page=${page.number+1})}">Next</a>
				<span th:if="${page.number == page.totalPages-1}">Next</span>
			</li>
			<li th:class="${page.number == page.totalPages-1}?'disabled page-item':'page-item'">
				<a  th:if="${page.number != page.totalPages-1}" class="page-link" th:href="@{'/user/list'(page=${page.totalPages-1})}">Last</a>
				<span th:if="${page.number == page.totalPages-1}">Last</span>
			</li>
		</ul>
	</nav>
</div>