<!DOCTYPE html>
<html layout:decorator="layouts/main">
<head>
<meta charset="ISO-8859-1">
<title>User List</title>
</head>
<body>
	<div layout:fragment="body">
		<div class="container-fluid" >
			<table class="table table-hover table-striped" style="text-align: center;">
				<thead>
					<tr>
						<td><b>ID</b></td>
						<td><b>E-mail</b></td>
						<td><b>Action</b></td>
					</tr>
				</thead>
				<tbody>
					<tr th:each="user : ${users}" th:object="${user}">
						<td th:text="*{id}" class="sub-desc"></td>
						<td th:text="*{email}" class="sub-desc" th:style="(*{id} == ${#authentication.getPrincipal().getUser().getId()})?'font-weight: bold;':''" ></td>
						<td><i style="cursor: pointer;" th:attr="data-id=*{id}" class="glyphicon glyphicon-info-sign user-info"></i></td> 
					</tr>
				</tbody>
			</table>
			<div th:include="common/pagination :: pagination"></div>
		</div>
		<script>
				$(".user-info").click(function(){
					$.ajax({
						url : $(this).data("id"),
						success : function(user){
							console.log(user);
							$("#span-id").html(user.id);
							$("#span-email").html(user.email);
							$("#span-roles").empty();
							if(user.roles == []){
								$("#span-roles").append("-");
							} else {
								$.each(user.roles, function(index, value){
									$("#span-roles").append(" [".concat(value.roleName).concat("]"));
								});
							}
							$("#modal-user-info").modal("show");
							
						}
					});
				});
		</script>
		<div class="modal fade" id="modal-user-info">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">User Information</div>
				<div class="modal-body">
					<table class="table table-striped">
						<tr>
							<th>ID : </th>
							<td>&nbsp;<span id="span-id"></span></td>
						</tr>
						<tr>
							<th>E-mail : </th>
							<td><span id="span-email"></span></td>
						</tr>
						<tr>
							<th>Role </th>
							<td> <span id="span-roles"></span></td>
						</tr>
					</table>
				</div>
				<div class="modal-footer">
					<button class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
				</div>
			</div>
		</div>
	</div>

</body>
</html>